h1 {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 46px;
}

ul {
  margin: 2px auto;
  padding: 20px 30px;
  background-color: rgba(32, 32, 106, 0.931);
  width: 100%;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 0.5px;
  transition: 0.25s ease-in-out;
  align-items: center;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.todo-container {
  margin: 200px auto;
  width: 40%;
  padding: 25px 0;
  border-radius: 5px;
  background-color: rgba(32, 32, 106, 0.455);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#fa-icon {
  cursor: pointer;
  font-family: 'FontAwesome', sans-serif;
  text-align: right;
  margin: 0 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Add the following style for the <i> elements */
.item li i {
  float: left;
  margin-right: 10px;
}

.icons-div {
  display: flex;
  margin-left: 50px;
  margin-right: -10px;
}

.complete {
  background-color: green;
  transition: 0.25s ease-in-out;
}

.new-todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 80%; /* Adjust this value as needed */
}

.add-task-header {
  letter-spacing: 0.5px;
  width: 80%;
  margin: 35px auto auto auto;
  text-align: left;
  padding: 10px;

}

.todo-input {
  border-radius: 5px;
  border: none;
  padding: 10px;
  background-color: rgb(218, 218, 218, 0.75);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 65%;
  font-size: 1.1em;
  color: grey;
  flex: 65%;
  margin: 5px;
}

.todo-input::placeholder {
  color: rgba(50, 50, 50, 0.8);
  font-size: 1em;
  padding-left: 5px;
}

button {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid rgb(235, 235, 235);
  background-color: rgb(59, 161, 0);
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 300;
  width: 20%;
  flex: 25%;
  margin: 5px;
}

button:hover {
  background-color: rgb(51, 139, 0);
  border: 1px solid inherit;
  transition: 0.25s ease-in-out;
}
