*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(213, 232, 253);
}

.App {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

button {
  font-family: 'Fira Sans', sans-serif;
}

input {
  font-family: 'Fira Sans', sans-serif;
}
